---
http_interactions:
- request:
    method: get
    uri: https://api.opendota.com/api/players/101260776
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"308-3NmNwCyauYFf8I0mO4jeZA"
    body:
      encoding: ASCII-8BIT
      string: '{"tracked_until":null,"solo_competitive_rank":"4348","competitive_rank":"3707","mmr_estimate":{"estimate":4024,"stdDev":447.14650842872516,"n":20},"profile":{"account_id":101260776,"personaname":"KSHHJ","name":null,"cheese":0,"steamid":"76561198061526504","avatar":"https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/85/85f3087786e23098f4c0c65d926f0d50e4e457a6.jpg","avatarmedium":"https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/85/85f3087786e23098f4c0c65d926f0d50e4e457a6_medium.jpg","avatarfull":"https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/85/85f3087786e23098f4c0c65d926f0d50e4e457a6_full.jpg","profileurl":"http://steamcommunity.com/id/KSHHJ/","last_login":"2016-12-12T15:53:11.521Z","loccountrycode":null}}'
  recorded_at: Sat, 28 Jan 2017 09:37:07 GMT
- request:
    method: get
    uri: https://api.opendota.com/api
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"87ba-5bozBBJdmZ8SG4MDAA+l4Q"
    body:
      encoding: ASCII-8BIT
      string: '{"swagger":"2.0","info":{"title":"OpenDota API","description":"# Introduction\nThis
        API provides Dota 2 related data.\nPlease keep request rate to approximately
        1/s.\n","version":"12.0.0"},"host":"api.opendota.com","basePath":"/api","produces":["application/json"],"paths":{"/matches/{match_id}":{"get":{"summary":"GET
        /matches/{match_id}","description":"Match data","tags":["matches"],"parameters":[{"name":"match_id","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"Success","schema":{"type":"object","properties":{"match_id":{"description":"match_id","type":"number"},"cluster":{"description":"cluster","type":"number"},"replay_salt":{"description":"replay_salt","type":"number"},"series_id":{"description":"series_id","type":"number"},"series_type":{"description":"series_type","type":"number"},"parties":{"description":"parties","type":"object"},"skill":{"description":"skill","type":"number"},"players":{"description":"players","type":"object"},"barracks_status_dire":{"description":"barracks_status_dire","type":"number"},"barracks_status_radiant":{"description":"barracks_status_radiant","type":"number"},"chat":{"description":"chat","type":"object"},"duration":{"description":"duration","type":"number"},"engine":{"description":"engine","type":"number"},"first_blood_time":{"description":"first_blood_time","type":"number"},"game_mode":{"description":"game_mode","type":"number"},"human_players":{"description":"human_players","type":"number"},"leagueid":{"description":"leagueid","type":"number"},"lobby_type":{"description":"lobby_type","type":"number"},"match_seq_num":{"description":"match_seq_num","type":"number"},"negative_votes":{"description":"negative_votes","type":"number"},"objectives":{"description":"objectives","type":"object"},"picks_bans":{"description":"picks_bans","type":"object"},"positive_votes":{"description":"positive_votes","type":"number"},"radiant_gold_adv":{"description":"radiant_gold_adv","type":"object"},"radiant_win":{"description":"radiant_win","type":"boolean"},"radiant_xp_adv":{"description":"radiant_xp_adv","type":"object"},"start_time":{"description":"start_time","type":"number"},"teamfights":{"description":"teamfights","type":"object"},"tower_status_dire":{"description":"tower_status_dire","type":"number"},"tower_status_radiant":{"description":"tower_status_radiant","type":"number"},"version":{"description":"version","type":"number"},"patch":{"description":"patch","type":"number"},"region":{"description":"region","type":"number"},"all_word_counts":{"description":"all_word_counts","type":"object"},"my_word_counts":{"description":"my_word_counts","type":"object"},"throw":{"description":"throw","type":"number"},"loss":{"description":"loss","type":"number"},"replay_url":{"description":"replay_url","type":"string"}}}}}}},"/players/{account_id}":{"get":{"summary":"GET
        /players/{account_id}","description":"Player data","tags":["players"],"parameters":[{"name":"account_id","in":"path","description":"Steam32
        account ID","required":true,"type":"integer"}],"responses":{"200":{"description":"Success","schema":{"type":"object","properties":{"tracked_until":{"description":"tracked_until","type":"string"},"solo_competitive_rank":{"description":"solo_compet[...]
